<section class="py-10 py-md-14">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Pretitle -->
        <h6 class="text-uppercase text-primary mb-6">
          Trade smarter, not harder
        </h6>

        <!-- Heading -->
        <h1 class="display-2 fw-bold text-white">
          Never miss another <span class="text-primary">profitable trade</span> again.
        </h1>

        <!-- Text -->
        <p class="fs-lg text-gray-500 mb-6 mb-md-8">
          We'll alert you in real-time when certain market conditions are met so you can make smarter trades no matter where you are.
        </p>

        <!-- Button -->
        <a href="#!" class="btn btn-primary lift">
          Download Free for iOS <i class="fe fe-arrow-right ms-2"></i>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
