<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarProduct" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Product
          </a>
          <div class="dropdown-menu dropdown-menu-md bg-dark-transparent-75" aria-labelledby="navbarProduct">
            <div class="list-group list-group-flush">
              <a class="list-group-item bg-transparent" href="{{webRoot}}/index.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  {{> shopping/chart-line-1}}
                </div>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase text-primary mb-0">
                    Indicators
                  </h6>

                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0">
                    Designed to give you the edge
                  </p>

                </div>

              </a>
              <a class="list-group-item bg-transparent" href="{{webRoot}}/index.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  {{> shopping/dollar}}
                </div>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase text-primary mb-0">
                    Pricing
                  </h6>

                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0">
                    Monthly plans and their features
                  </p>

                </div>

              </a>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarSupport" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Support
          </a>
          <div class="dropdown-menu dropdown-menu-md bg-dark-transparent-75" aria-labelledby="navbarSupport">
            <div class="list-group list-group-flush">
              <a class="list-group-item bg-transparent" href="{{webRoot}}/index.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  {{> communication/clipboard-check}}
                </div>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase text-primary mb-0">
                    FAQ
                  </h6>

                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0">
                    Start here for support
                  </p>

                </div>

              </a>
              <a class="list-group-item bg-transparent" href="{{webRoot}}/index.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  {{> communication/sending-mail}}
                </div>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase text-primary mb-0">
                    Contact
                  </h6>

                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0">
                    Get in touch with our team
                  </p>

                </div>

              </a>
            </div>
          </div>
        </li>
      </ul>

      <!-- Buttons -->
      <div class="ms-auto">
      <a class="navbar-btn btn btn-sm btn-primary-soft lift me-2" href="{{webRoot}}/log-in.html">
        Log in
      </a>

      <a class="navbar-btn btn btn-sm btn-{{button}} lift" href="{{webRoot}}/get-started.html">
        Sign up
      </a>
      </div>

    </div>

  </div>
</nav>
