<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarProduct" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Alerts
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarProduct">
            <div class="list-group list-group-flush">
              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/superflow.html">

                <!-- Icon -->
                <span class="fe fe-activity text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    SuperFlow
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/overbought-oversold.html">

                <!-- Icon -->
                <span class="fe fe-arrow-up text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    Overbought/Oversold
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/pennant-flag.html">

                <!-- Icon -->
                <span class="fe fe-play text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    Pennant Flag
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/rsi-cross.html">

                <!-- Icon -->
                <span class="fe fe-corner-right-up text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    RSI Cross
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/price-shear.html">

                <!-- Icon -->
                <span class="fe fe-trending-up text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    Price Shear
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/volume-breakout.html">

                <!-- Icon -->
                <span class="fe fe-chevrons-up text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    Volume + Breakout
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/inside-bar-break.html">

                <!-- Icon -->
                <span class="fe fe-arrow-up-right text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    Inside Bar Break
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/golden-death-cross.html">

                <!-- Icon -->
                <span class="fe fe-shuffle text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    Golden/Death Cross
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/macd-cross.html">

                <!-- Icon -->
                <span class="fe fe-shuffle text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    MACD Cross
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/ema-cross.html">

                <!-- Icon -->
                <span class="fe fe-shuffle text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    EMA Cross
                  </h6>

                </div>

              </a>

              <a class="list-group-item bg-transparent" href="{{webRoot}}/alerts/abnormal-volume.html">

                <!-- Icon -->
                <span class="fe fe-bar-chart text-primary"></span>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase mb-0">
                    Abnormal Volume
                  </h6>

                </div>

              </a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{webRoot}}/pricing.html">Pricing</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{webRoot}}/faq.html">FAQ</a>
        </li>
      </ul>

      <!-- Buttons -->
      <div class="ms-auto">
        <a class="navbar-btn btn btn-sm btn-primary-soft lift me-2" href="#!">
          Log out
        </a>

        <a class="navbar-btn btn btn-sm btn-{{button}} lift" href="{{webRoot}}/account/account.html">
          Account
        </a>
      </div>

    </div>

  </div>
</nav>
