//
// user.scss
// Use this to write your custom SCSS
//

// COLORS
.bg-black {
  background-color: $black-1 !important;
}
.text-black {
  color: $black-1 !important;
}
.text-dark-transparent-75 {
  color: rgba(3,6,14,0.75);
}
.bg-gradient-multicolor {
  background-image: conic-gradient(from 80deg at 50% 50%,
      #0F1C46 0deg,
      #335EEA 360deg);
}
.bg-gradient-multicolor.reverse {
  background-image: conic-gradient(from 280deg at 50% 50%,
      #335EEA 0deg,
      #0F1C46 360deg);
}
.shadow-multicolor {
  box-shadow: -300px 100px 300px rgba(#53A0FE, .1), 300px -100px 300px rgba(#B4ED50, .1);
}
.opacity-10 {
  opacity: 0.1;
}
.text-primary-dark {
  color: darken($primary, 50%);
}
.bg-primary-dark {
  background-color: darken($primary, 50%);
}

// NAVBAR
nav .navbar-brand-img {
  max-height: 1.2rem;
}
.navbar-dark .navbar-brand {
  filter: none;
}
.list-group-item.bg-transparent {
  border-color: #0B1531;
}

// FOOTER
footer img.footer-brand {
  max-height: 1.2rem;
}

// TYPOGRAPHY
.fw-bold {
  font-weight: 400 !important;
}
.display-1, .display-2, .display-3, .display-4 {
  letter-spacing: 0;
}

// LOGOS
.svg-white svg {
  filter: brightness(0) invert(1);
}
.navbar-brand-medium .navbar-brand-img {
  max-height: 2rem;
}

// BACKGROUNDS
.bg-pattern-stars-1 {
  background-image: url(../img/patterns/stars-1.svg);
}
.bg-pattern-stars-gradient {
  background-image: url(../img/patterns/stars-1.svg), linear-gradient(to bottom, #070C1C 0%, transparent 100%);
  background-repeat: repeat-y;
}
.bg-pattern-stars-big {
  background-image: url(../img/patterns/stars-2.svg);
}
.bg-dark-transparent-75 {
  background-color: rgba(3,6,14,0.75);
}
.bg-transparent {
  background: transparent;
}

// FORM
.form-check-dark .form-check-input {
  background-color: #0B1530;
}
.form-control.bg-black {
  border-color: #222;
}
.form-control:active.bg-black,
.form-control:focus.bg-black,
.form-control:active.bg-dark,
.form-control:focus.bg-dark {
  border-color: $primary;
}
.form-control.bg-dark {
  border-color: #111;
}


// CARDS
.bg-dark .card-header,
.list-group-item.bg-dark {
  border-color: #111;
}
.border-111 {
  border: 1px solid #111;
}






// RESPONSIVE
@media (max-width: 991.98px) {
  .navbar-collapse,
  .list-group-item.bg-transparent {
    background-color: #02040A;
  }
  .navbar-collapse .navbar-nav .nav-item + .nav-item {
    border-top: none;
  }
}
